.header {
    background-image: url(../assets/bg.png);
    height: 80vh;
    /* width: 100%; */
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    /* background: #C04848; */
    /* fallback for old browsers */
    /* background: linear-gradient(rgba(182, 172, 182, 0.8), rgb(192, 72, 72, 0.8)), url(../assets/bg.png); */
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(246, 244, 244, 0.8)), url(../assets/bg.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}