.header {
    background-image: url(../assets/bg.png);
    height: 80vh;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(246, 244, 244, 0.8)), url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}